<div class="driver-detail">
    <div class="image-number-name">
        <img src="{{dataDriver.image2}}">
        <div class="number-flag">
            <h3>{{dataDriver.number}}</h3>
            <img src="{{dataDriver.flag}}">
        </div>
        <h1>{{dataDriver.name}}</h1>
    </div>
    <div class="casco-info">
        <div class="casco">
            <img src="{{dataDriver.casco}}">
            <h3>Official merchandise Official memorabilia</h3>
        </div>
        <div class="info">
            <div class="property">
                <p>Team</p>
                <p>Country</p>
                <p>Podiums</p>
                <p>Grand Prix entered</p>
                <p>World Championships</p>
                <p>Date of birth</p>
                <p>Place of birth</p>
            </div>
            <div class="data">
                <p>{{dataDriver.team}}</p>
                <p>{{dataDriver.country}}</p>
                <p>{{dataDriver.podiums}}</p>
                <p>{{dataDriver.gps}}</p>
                <p>{{dataDriver.worldtitles}}</p>
                <p>{{dataDriver.date}}</p>
                <p>{{dataDriver.birth}}</p>
            </div>
        </div>
    </div>
</div>

