<div class="home">
    <div class="main-new">
        <div class="main-title">
            <p>FEATURE</p>
            <h1>10 thigs every Formula 1 fan should be excited for in 2022</h1>
        </div>
        <img src="../../../../../assets/Images/home/main.jpg">
    </div>
    <div class="rest-news">
        <div class="pack-1">
            <div class="new-1">
                <img src="../../../../../assets/Images/home/1.jpg">
                <div class="title-1">
                    <p>POLL</p>
                    <h1>How much do you remember of this F1 season? it´s the Big Formula 1 Quiz of 2021!</h1>
                </div>
            </div>
            <div class="new-2">
                <img src="../../../../../assets/Images/home/2.jpg">
                <div class="title-2">
                    <p>VIDEO</p>
                    <h1>WATCH: Pirate Seb, seething Sainz and napping Norris - Enjoy the funniest moments from the 2021 season</h1>
                </div>
            </div>
        </div>
        <div class="pack-2">
            <div class="new-3">
                <img src="../../../../../assets/Images/home/3.jpg">
                <div class="title-3">
                    <p>FEATURE</p>
                    <h1>HAMILTON VS VERSTAPEN: Why their rivalry has the potential to be the greatest in F1 history</h1>
                </div>
            </div>
            <div class="new-4">
                <img src="../../../../../assets/Images/home/4.jpg">
                <div class="title-4">
                    <p>FEATURE</p>
                    <h1>8 reasons 2021 will go down in F1 history as one of the classic seasons</h1>
                </div>
            </div>
        </div>
        <div class="pack-3">
            <div class="new-5">
                <img src="../../../../../assets/Images/home/5.jpg">
                <div class="title-5">
                    <p>FEATURE</p>
                    <h1>EXCLUSIVE: The top 10 F1 drivers of 2021 - as choosen by the drivers</h1>
                </div>
            </div>
            <div class="new-6">
                <img src="../../../../../assets/Images/home/6.jpg">
                <div class="title-6">
                    <p>FEATURE</p>
                    <h1>REVEALED: F1´s team bosses choose theis Top 10 drivers of 2021</h1>
                </div>
            </div>
        </div>
    </div>
</div>
