<div class="main">
    <div class="team-name">
        <h1>{{dataTeam.name}}</h1>
    </div>
    <div class="detail-team">
        <div class="parte1">
            <div class="team-logo">
                <img src="{{dataTeam.logo2}}">
                <p>Year-by-year profile Officiañ Merchandise Results Archive</p>
            </div>
            <div class="team-info">
                <div class="info-name">
                    <p>Full Team Name</p>
                    <p>Team Chief</p>
                    <p>Chassis</p>
                    <p>Power Unit</p>
                    <p>First Team Entry</p>
                    <p>World Championships</p>
                    <p>Pole Positions</p>
                    <p>Fastest laps</p>
                </div>
                <div class="info-data">
                    <p>{{dataTeam.name}}</p>
                    <p>{{dataTeam.teamChief}}</p>
                    <p>{{dataTeam.chassis}}</p>
                    <p>{{dataTeam.powerUnit}}</p>
                    <p>{{dataTeam.teamEntry}}</p>
                    <p>{{dataTeam.worldTitles}}</p>
                    <p>{{dataTeam.poles}}</p>
                    <p>{{dataTeam.fastestLaps}}</p>
                </div>
            </div>
        </div>
        <div class="drivers">
            <div class="driver1">
                <img src="{{dataTeam.driver1Image}}">
                <h2>{{dataTeam.driver1}}</h2>
                <p>{{dataTeam.name}}</p>
            </div>
            <div class="driver2">
                <img src="{{dataTeam.driver2Image}}">
                <h2>{{dataTeam.driver2}}</h2>
                <p>{{dataTeam.name}}</p>
            </div>
        </div>
    </div>
</div>
