<div class="footer">
    <div class="title">
        <img class="f1logo" src="../../../../assets/Images/Icons/F1-logo-red.png">
        <h2>Our partners</h2>
        <img class="arrow" src="../../../../assets/Images/Icons/arrow2.png">
    </div>
    <div class="partners_1">
        <img src="../../../../assets/Images/partners/rolex.png">
        <img src="../../../../assets/Images/partners/dhl.png">
        <img src="../../../../assets/Images/partners/aramco.png">
        <img src="../../../../assets/Images/partners/pirelli.png">
        <img src="../../../../assets/Images/partners/emirates.png">
        <img src="../../../../assets/Images/partners/crypto.com.png">
        <img src="../../../../assets/Images/partners/heineken.png">
    </div>
    <div class="partners_2">
        <img src="../../../../assets/Images/partners/drive.png">
        <img src="../../../../assets/Images/partners/aws.png">
        <img src="../../../../assets/Images/partners/liqui-molly.png">
        <img src="../../../../assets/Images/partners/expo.png">
        <img src="../../../../assets/Images/partners/ferrari.png">
        <img src="../../../../assets/Images/partners/bet.png">
        <img src="../../../../assets/Images/partners/zoom.png">
        <img src="../../../../assets/Images/partners/herjavec.png">
    </div>
    <div class="links">
        <a href="">
            <div><p>Latest News</p></div>
        </a>
        <a href="">
            <div><p>Video</p></div>
        </a>
        <a href="">
            <div><p>Drivers</p></div>
        </a>
        <a href="">
            <div><p>Teams</p></div>
        </a>
        <a href="">
            <div><p>Schedule</p></div>
        </a>
        <a href="">
            <div><p>Standings</p></div>
        </a>
        <a href="">
            <div><p>Gaming</p></div>
        </a>
        <a href="">
            <div><p>Live Timing</p></div>
        </a>
        <a href="">
            <div><p>Tickets</p></div>
        </a>
        <a href="">
            <div><p>F1 Experiences</p></div>
        </a>
        <a href="">
            <div><p>Store</p></div>
        </a>
        <a href="">
            <div><p>Padock Club</p></div>
        </a>
        <a href="">
            <div><p>F1 TV</p></div>
        </a>
        <a href="">
            <div><p>F1 Authentics</p></div>
        </a>
        <a href="">
            <div><p>Rules & Regulations</p></div>
        </a>
    </div>
    <div class="copy">
        <img src="../../../../assets/Images/Icons/F1-logo.png">
        <p>© 2003-2022 Formula One World Championship Limited</p>
    </div>
</div>
